<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <title>IceBreaker | Aguacate</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  <div class="row" id="header">
    <div class="col-md-12">
      <h1>IceBreaker</h1>
    </div>
  </div>
  <div class="transbox text-center">
    {{{ body }}}
  </div>
  <script src="../../server.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDvFEwol1jGeu5yoEDuLyKqTp_SOC6_n6A",
    authDomain: "icebreaker-6e876.firebaseapp.com",
    databaseURL: "https://icebreaker-6e876.firebaseio.com",
    projectId: "icebreaker-6e876",
    storageBucket: "icebreaker-6e876.appspot.com",
    messagingSenderId: "840695051857"
  };
  firebase.initializeApp(config);
</script>
</body>

</html>