<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <!--AOS Stylesheet-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css" rel="stylesheet">
  <!--Font Awesome Icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/style.css" />
  <title>IceBreaker | Aguacate</title>
</head>

<!--IceBreaker Developers-->
<div class="row" id="developers">
  <div class="col-md-12 aos-item" data-aos="flip-up">
    <h2 class="developers">Developers</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3 aos-item" data-aos="flip-down">
    <div class="card developer-image">
      <div class="card-body">
        <img src="../../public/img/developers/HalleConger.jpg" class="image img-fluid" alt="Halle">
      </div>
      <div class="overlay">
        <div class="text">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 aos-item" data-aos="flip-down">
    <div class="card developer-image">
      <div class="card-body">
        <img src="" class="image img-fluid" alt="Nick">
      </div>
      <div class="overlay">
        <div class="text">. </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 aos-item" data-aos="flip-down">
    <div class="card developer-image">
      <div class="card-body">
        <img src="../../public/img/developers/TarahPerry.jpg" class="image img-fluid" alt="Tarah">
      </div>
      <div class="overlay">
        <div class="text">Tarah is web developer from Austin, Texas. Her background is in cave research. In her spare time Tarah can be found
          on a new hiking trail or in a bar trying to find new sour brews.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 aos-item" data-aos="flip-down">
    <div class="card developer-image">
      <div class="card-body">
        <img src="" class="image img-fluid" alt="Dan">
      </div>
      <div class="overlay">
        <div class="text">
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
</div>
<!--End IceBreaker Developers-->

<body>
  <div class="row" id="header">
    <div class="col-md-12">
      <h1>IceBreaker</h1>
    </div>
  </div>
  <div class="transbox text-center">
    {{{ body }}}
  </div>
  <script src="../../server.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDvFEwol1jGeu5yoEDuLyKqTp_SOC6_n6A",
      authDomain: "icebreaker-6e876.firebaseapp.com",
      databaseURL: "https://icebreaker-6e876.firebaseio.com",
      projectId: "icebreaker-6e876",
      storageBucket: "icebreaker-6e876.appspot.com",
      messagingSenderId: "840695051857"
    };
    firebase.initializeApp(config);
  </script>
  <!--AOS Sript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <!--Google Maps API-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAny8QhQ3ISkkGwCimkBoNfskamSbb7hBU&callback=initMap"> </script>
</body>

</html>