<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!--CSS Stylesheet-->
    <link rel="stylesheet" href="./css/style.css">
    <!-- AOS Stylesheet-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css" rel="stylesheet">
    <!--Font Awesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/"
        crossorigin="anonymous">
    <title>Ice Breakers | Aguacate</title>
</head>

<body>
    <!--NAVBAR-->
    <nav>
        <a class="nav-link" href="#">
            <img id="logo" src="./img/views/logo-01.png" height="50" width="300">
        </a>
        <ul id="mainNav" class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signin">Login</a>
            </li>
        </ul>
    </nav>
    <!--Navbar End-->
    {{{ body }}}
    <!--Footer-->
    <footer class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <br>
                <br>
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-google-plus fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <p>Copyright &copy; Ice Breakers 2018</p>
            </div>
        </div>
    </footer>
    <!--Footer End-->

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--AOS Sript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <!--FireBase-->
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <!--Google Maps API-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAny8QhQ3ISkkGwCimkBoNfskamSbb7hBU&callback=initMap"> </script>
    <!--JS-->
    <script src="./js/app.js"></script>
    <!--Progress Bar-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="scripts/plugin.js"></script>
</body>

</html>