<!-- About Section -->
<div class="row">
    <div class="col-md-4" id="mission">
        <h1>Mission Statement</h1>
        <p>Here at Ice Breaker, we focus on inspiring and promoting sociability and kindness in the world. We all need a pick-me-up
            sometimes, amiright? So we partnered with your local coffee shops to give you more incentive to complete a kind
            act, to bring yourself out of your comfort zone, and to socialize in a way you may not have before.</p>
    </div>
    <!--Map-->
    <div class="col-md-4" id="mapFloatingPanel">
        <input onclick="clearMarkers();" type=button value="Hide Markers">
        <input onclick="showMarkers();" type=button value="Show All Markers">
        <input onclick="deleteMarkers();" type=button value="Delete Markers">
    </div>
    <div id="map"></div>
    <!--End of Map-->
    <div class="col-md-4" id="about">
        <h1>How It Works</h1>
        <p>Create a profile.
            <br> Search for local coffee shops in your area.
            <br> Go get some coffee!
            <br> Check-in and complete some challenges.
            <br> Rack up points to use towards discounts.
            <br> Leave knowing you tried something new today.
        </p>
    </div>
</div>

<!--IceBreaker Developers-->
<div class="row" id="developers">
    <div class="col-md-12 aos-item" data-aos="flip-up">
        <h2 class="developers">Developers</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="./img/developers/HalleConger.jpg" class="image img-fluid" alt="Halle">
            </div>
            <div class="overlay">
                <div class="text">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="./img/developers/NicholasEdwards.jpg" class="image img-fluid" alt="Nick">
            </div>
            <div class="overlay">
                <div class="text">Nick is full stack web developer having developed a keen interest in his craft at young age. When he is not
                    writing code or cooking up new ideas he is most likely buried in a book or a video game.</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="./img/developers/TarahPerry.jpg" class="image img-fluid" alt="Tarah">
            </div>
            <div class="overlay">
                <div class="text">Tarah is web developer from Austin, Texas. Her background is in cave research. In her spare time Tarah can
                    be found on a new hiking trail or in a bar trying to find new sour brews.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="./img/developers/DanielAlamo.jpg" class="image img-fluid" alt="Dan">
            </div>
            <div class="overlay">
                <div class="text">Daniel is a Full Stack Web Developer who loves long jogs on the beach. Daniel loves humor. The dryer the
                    harder he laughs. The jokes he enjoys most are his own.
                </div>
            </div>
        </div>
    </div>
</div>
<!--End IceBreaker Developers-->