<div class="container-fluid">
    <div class="row">
        <p class="col-md">
            ALI "MICKEY FICKEY" ARFEEN THE G.O.A.T.
            <br> AKA: The King of All Dad Jokes
            <br> AKA: The Genie Genius
            <br> AKA: Kid Corny
            <br> AKA: Grammar God
            <br> AKA: Mistah Make It Happen
            <a href="./img/easterEgg/ali_pic_real.jpg"></a>
            <br> I present to you the Dad Joke in its natrual state and truest form. DO NOT LET THE CUTE PUPPY FOOL YOU. This man here hasn't met a single joke he
            couldn't run into the ground or a sentence he couldn't punify. You won't know you've been sonned by his dad jokes
            until it's far too late. Once he sinks his corny teeth into you there is no escape. Run, hide, fight back all
            is futile no matter what you say or do he will inevitably find a way to introduce himself as dad. Avoid at all
            costs unless can't figure out your firebase authentication. Then you must sacrifice your very soul, which will
            be devoured slowly by pun after pun after pun, in exchange for invaluable assistance.
        </p>
    </div>
</div>