<div class="container-fluid" id="homePage">
  <!--Main Page Img-->
  <div class="row" id="heroImgRow">
    <div class="col-md-12" id="heroImgCol">
      <div id="heroImgDiv">
        <div class="centered" id="heroImgText">
          <h1>Eat, Meet, and Play</h1>
          <p>Play to earn rewards at your favorite places while making new friends.</p>
        </div>
      </div>
    </div>
  </div>
  <!--End of Main Page Img-->
</div>