<div class="row" id="heroImgRow">
  <div class="col-md-12">
    <div class="hero-image">
      <div class="hero-text">
        <h1>Eat, Meet, and Play</h1>
        <p>Play to earn rewards at your favorite places while making new friends.</p>
      </div>
    </div>
  </div>
</div>