<div class="row" id="heroImgRow">
  <div class="col-md-12" id="heroImgCol">
    <div id="heroImgDiv">
      <img id="heroImg" src="../img/views/shutterstock_551964289.jpg">
      <div class="centered" id="heroImgText">
        <h1>Eat, Meet, and Play</h1>
        <p>Play to earn rewards at your favorite places while making new friends.</p>
      </div>
    </div>
  </div>
</div>