<!--IceBreaker Developers-->
<div class="row" id="developers">
    <div class="col-md-12 aos-item" data-aos="flip-up">
        <h2 class="developers">Developers</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="../../public/img/developers/HalleConger.jpg" class="image img-fluid" alt="Halle">
            </div>
            <div class="overlay">
                <div class="text">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="../public/img/developers/NicholasEdwards.jpg" class="image img-fluid" alt="Nick">
            </div>
            <div class="overlay">
                <div class="text">Nick is full stack web developer having developed a keen interest in his craft at young age. When he is not
                    writing code or cooking up new ideas he is most likely buried in a book or a video game.</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="../../public/img/developers/TarahPerry.jpg" class="image img-fluid" alt="Tarah">
            </div>
            <div class="overlay">
                <div class="text">Tarah is web developer from Austin, Texas. Her background is in cave research. In her spare time Tarah can
                    be found on a new hiking trail or in a bar trying to find new sour brews.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 aos-item" data-aos="flip-down">
        <div class="card developer-image">
            <div class="card-body">
                <img src="../public/img/developers/DanielAlamo.jpg" class="image img-fluid" alt="Dan">
            </div>
            <div class="overlay">
                <div class="text">Daniel is a Full Stack Web Developer who loves long jogs on the beach. Daniel loves humor. The dryer the
                    harder he laughs. The jokes he enjoys most are his own.
                </div>
            </div>
        </div>
    </div>
</div>
<!--End IceBreaker Developers-->