<div class="row">
    <div class="col-md-12" id="signInRow">
        <form>
            <div class="form-group" id="signInForm">
                <label for="exampleInputUserName"> User Name </label>
                <input type="userName" class="form-control" id="exampleInputUserName" placeholder="Enter User Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword"> Password </label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Sign In </button>
                <br>
                <a href=""> Create New Account </a>
            </div>
        </form>
    </div>
</div>