<div class="row">
    <div class="col-md-12">
        <div class="my-progress-bar"></div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6" id="userProfile" class="media">
        <img id="userPicture" class="align-self-center mr-3" src="../public/img/users/gollum350x350.jpg" alt="Avatar">
        <div class="media-body">
            <ul id="userInfo">
                <p id="userName">Name: </p>
                <p id="userEmail">Email: </p>
                <p id="userPoints">Points: </p>
            </ul>
        </div>
    </div>
    <!--Map-->
    <div class="col-md-6" id="mapFloatingPanel">
        <input onclick="clearMarkers();" type=button value="Hide Markers">
        <input onclick="showMarkers();" type=button value="Show All Markers">
        <input onclick="deleteMarkers();" type=button value="Delete Markers">
    </div>
    <div id="map"></div>
    <!--End of Map-->
</div>