  <div id="userProfile" class="media">
        <img id="userPicture" class="align-self-center mr-3" src="../public/img/users/gollum350x350.jpg" alt="Avatar">
        <div class="media-body">
            <ul id="userInfo">
                <p id="userName">Name: </p>
                <p id="userEmail">Email: </p>
                <p id="userPoints">Points: </p>
            </ul>
        </div>
    </div>