/* ============================================== */
/* standard page style */
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#homePage {
  background-image: url("../img/views/shutterstock_551964289.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 100%;
}
#heroImgRow {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
#h1HeroImgText {
  font-size: 50pt;
  font-weight: bold;
}
#pHeroImgText{
  font-size: 25pt;
}
#heroImgText {
  color: white;
  display: block;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*end of standard page style*/
/* ============================================== */

/* ============================================== */
/* Nav Bar */
nav {
  padding: 20px 40px 0px 40px;
}
#logo {
  float: left;
}
/*end of nav bar*/
/* ============================================== */

/* ============================================== */
/* map */

#mapRow, #mapBtnRow {
  width: 90%; 
  height: 90%; 
  text-align:center;
}
#mapCol, #mapFloatingPanel {
  width: 70%; 
  height: 100%; 
  margin:0px auto; 
  text-align:center;
  display:inline-block
}
#map {
  width: 400px;
  height: 400px;
  display:inline-block;
}
#mapFloatingPanel {
  position: relative;
  width: 350px;
  top: 10px;
  z-index: 5;
  padding: 1px;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 5px;
  display:inline-block;
}
#mapbtn {
  font-size: 12px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2%;
}
/* end of map */
/* ============================================== */

/* ============================================== */
/* HEADER */
.header-image {
  width: 100%;
  height: 450px;
}
/*End of HEADER*/
/* ============================================== */

/* ============================================== */
/* FOOTER */
footer {
  width: 100%;
  height: 50px;
  clear: both;
} 
/*End of FOOTER*/
/* ============================================== */

/* ============================================== */
/*dev section*/
.developer-image {
  position: relative;
  width: 100%;
}
#devImgLink {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
.developer-image:hover .overlay {
  opacity: 1;
}
.devtext {
  color: black;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.developers {
  text-align: center;
}
/*end of dev section overlay image */
/* ============================================== */

/* ============================================== */
/*User Profile*/
#userPicture {
  border-radius: 50%;
  margin-left: 25%;
}
#userInfo {
  padding-top: 125px;
}
/*End of User Profile*/
/* ============================================== */

/* ============================================== */
/* Progress Bar */
.circular-progress-bar {
  position: relative;
  margin: 0 auto;
  transform: rotate(-90deg);
}
.progress-percentage, .progress-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  text-align: center;
  padding: 0px 60px;
}
.progress-percentage {
  font-size: 60px;
  left: 60%;
}
.progress-text {
  left: 35%;
  color: #585858;
  font-size: 21px;
}
/*End of Progress Bar*/
/* ============================================== */



